#combo-box{
    
    
    
    -fx-border-width:0;
}
#combo-box .arrow{

    -fx-background-color:#eb8b00;
}

#combo-box .arrow-button{
    -fx-background-color:grey;
}
#combo-box .list-cell{
-fx-text-fill:black;
    -fx-background-color:white;
}
#combo-box .list-cell:hover{
    -fx-text-fill:white;
    -fx-background-color:	#0096FF;
}
