.spinner{
       
    -fx-border-width:0;
	
}
.spinner .increment-arrow-button .increment-arrow {
    -fx-background-color: #eb8b00;
	-fx-background-radius:30 30 30 30;
}
.spinner .increment-arrow-button  {
    -fx-background-color: grey;
}
.spinner .decrement-arrow-button .decrement-arrow {
    -fx-background-color: #eb8b00;
}
.spinner .decrement-arrow-button  {
    -fx-background-color: grey;
}
